<main class="container">

  <!--View mode-->
  <div id="view-profile" *ngIf="profileMode === 'view' && this.user !== undefined">
    <div style="display: flex; align-items: center;">
      <h1 style="margin-right: 10px;">{{ "profile.view.title" | translate }}</h1>
      <button class="btn" (click)="toggleEditMode()">
        <i class="bi bi-pencil-fill"></i>
      </button>
    </div>

    <!--Successful save alert-->
    <!--TODO improve the look and functionality of this alert-->
    <div class="alert alert-success" role="alert" *ngIf="showSuccessAlert">
      {{ "profile.successful_save" | translate }}
    </div>

    <div class="py-4">
      <h2>{{ "profile.public" | translate }}</h2>

      <!--First name-->
      <div *ngIf="user.firstName !== null">
        <h4>{{ "profile.first_name" | translate }}</h4>
        <p>{{ user.firstName }}</p>
      </div>

      <!--Last name-->
      <div *ngIf="user.lastName !== null">
        <h4>{{ "profile.last_name" | translate }}</h4>
        <p>{{ user.lastName }}</p>
      </div>

      <!--Username-->
      <div>
        <h4>{{ "profile.username" | translate }}</h4>
        <p>&#64;{{ user.username }}</p>
      </div>

      <!--Bio-->
      <div *ngIf="user.bio !== null">
        <h4>{{ "profile.bio" | translate }}</h4>
        <p>{{ user.bio }}</p>
      </div>
    </div>

    <div class="py-4">
      <h2>{{ "profile.private" | translate }}</h2>

      <!--Email-->
      <div *ngIf="user.email !== null">
        <h4>{{ "profile.email" | translate }}</h4>
        <p>{{ user.email }}</p>
      </div>

      <!--Registered at-->
      <div>
        <h4>{{ "profile.view.registered_at" | translate }}</h4>
        <p>{{ user.registeredAt?.toLocaleString()}}</p>
      </div>
    </div>
  </div>

  <!--Edit mode-->
  <div id="edit-profile" *ngIf="profileMode === 'edit'">
    <form [formGroup]="profileForm" (submit)="onSubmit()" (reset)="onCancel()" class="needs-validation" novalidate>
      <h1>{{ "profile.edit.title" | translate }}</h1>

      <div class="row g-3">
        <div class="py-4 row g-3">
          <h2>{{ "profile.public" | translate }}</h2>
          <!--First name-->
          <div class="col-sm-6">
            <label for="firstName" class="form-label">{{ "profile.first_name" | translate }}</label>
            <input type="text" class="form-control" id="firstName" [placeholder]="'profile.first_name' | translate"
                   formControlName="firstName" [class.is-invalid]="submitted && profileForm.controls['firstName'].errors">
            <div *ngIf="submitted && profileForm.controls['firstName'].invalid" class="invalid-feedback">
              <div *ngIf="profileForm.controls['firstName'].errors?.['invalid']">{{ "profile.edit.errors.first_name.invalid" | translate }}</div>
              <div *ngIf="profileForm.controls['firstName'].errors?.['pattern']">{{ "profile.edit.errors.first_name.invalid" | translate }}</div>
            </div>
          </div>

          <!--Last name-->
          <div class="col-sm-6">
            <label for="lastName" class="form-label">{{ "profile.last_name" | translate }}</label>
            <input type="text" class="form-control" id="lastName" [placeholder]="'profile.last_name' | translate"
                   formControlName="lastName" [class.is-invalid]="submitted && profileForm.controls['lastName'].errors">
            <div *ngIf="submitted && profileForm.controls['lastName'].invalid" class="invalid-feedback">
              <div *ngIf="profileForm.controls['lastName'].errors?.['invalid']">{{ "profile.edit.errors.last_name.invalid" | translate }}</div>
              <div *ngIf="profileForm.controls['lastName'].errors?.['pattern']">{{ "profile.edit.errors.last_name.invalid" | translate }}</div>
            </div>
          </div>

        <!--Username-->
        <div class="col-12 form-group">
          <label for="username" class="form-label">{{ "profile.username" | translate }}</label>
          <div class="input-group has-validation">
            <span class="input-group-text">&#64;</span>
            <input type="text" class="form-control" id="username" [placeholder]="'profile.username' | translate"
                   formControlName="username" required [class.is-invalid]="submitted && profileForm.controls['username'].invalid">
            <div *ngIf="submitted && profileForm.controls['username'].invalid" class="invalid-feedback">
              <div *ngIf="profileForm.controls['username'].errors?.['required']">{{ "profile.edit.errors.username.required" | translate }}</div>
              <div *ngIf="profileForm.controls['username'].errors?.['duplicate']">{{ "profile.edit.errors.username.duplicate" | translate }}</div>
              <div *ngIf="profileForm.controls['username'].errors?.['invalid']">{{ "profile.edit.errors.username.invalid" | translate }}</div>
              <div *ngIf="profileForm.controls['username'].errors?.['pattern']">{{ "profile.edit.errors.username.invalid" | translate }}</div>
            </div>
          </div>
        </div>

          <!--Bio-->
          <div class="col-12 form-group">
            <label for="bio" class="form-label">{{ "profile.bio" | translate }}
              <span class="text-body-secondary">(max. 1000 {{ "profile.edit.bio_character_limit" | translate }})</span>
            </label>
            <textarea class="form-control" id="bio" [placeholder]="'profile.edit.bio_placeholder' | translate"
                      formControlName="bio" [class.is-invalid]="submitted && profileForm.controls['bio'].invalid"></textarea>
              <div *ngIf="submitted && profileForm.controls['bio'].invalid" class="invalid-feedback">
                <div *ngIf="profileForm.controls['bio'].errors?.['invalid']">{{ "profile.edit.errors.bio.invalid" | translate }}</div>
                <div *ngIf="profileForm.controls['bio'].errors?.['pattern']">{{ "profile.edit.errors.bio.invalid" | translate }}</div>
                <div *ngIf="profileForm.controls['bio'].errors?.['maxlength']">{{ "profile.edit.errors.bio.too_long" | translate }}</div>
              </div>
          </div>
        </div>

        <div class="py-4 row g-3">
          <h2>{{ "profile.private" | translate }}</h2>

          <!--Email-->
          <div class="col-12">
            <label for="email" class="form-label">{{ "profile.email" | translate }}</label>
            <input type="email" class="form-control" id="email" [placeholder]="'profile.edit.email_placeholder' | translate" formControlName="email"
                   [class.is-invalid]="submitted && profileForm.controls['email'].errors">
            <div *ngIf="submitted && profileForm.controls['email'].invalid" class="invalid-feedback">
              <div *ngIf="profileForm.controls['email'].errors?.['email']">{{ "profile.edit.errors.email.invalid" | translate }}</div>
              <div *ngIf="profileForm.controls['email'].errors?.['duplicate']">{{ "profile.edit.errors.email.duplicate" | translate }}.</div>
              <div *ngIf="profileForm.controls['email'].errors?.['invalid']">{{ "profile.edit.errors.email.invalid" | translate }}</div>
              <div *ngIf="profileForm.controls['email'].errors?.['pattern']">{{ "profile.edit.errors.email.invalid" | translate }}</div>
            </div>
          </div>

          <!--Password-->
          <div class="col-12">
            <label for="password" class="form-label">{{ "profile.edit.password" | translate }}</label>
            <input type="password" class="form-control" id="password" [placeholder]="'profile.edit.password' | translate"
                   formControlName="password" (input)="passwordMatchValidator()"
                   [class.is-invalid]="submitted && profileForm.controls['password'].invalid">
            <div *ngIf="profileForm.controls['password'].invalid && submitted" class="invalid-feedback">
              <div *ngIf="profileForm.controls['password'].errors?.['required']">{{ "profile.edit.errors.password.required" | translate }}</div>
              <div *ngIf="profileForm.controls['password'].errors?.['pattern']" [innerHTML]="'profile.edit.errors.password.invalid' | translate"></div>
              <div *ngIf="profileForm.controls['password'].errors?.['invalid']">{{ "profile.edit.errors.password.invalid" | translate }}</div>
            </div>
          </div>

          <!--Confirm password-->
          <div class="col-12" *ngIf="profileForm.value['password'] !== ''">
            <label for="password-confirmation" class="form-label">{{ "profile.edit.password_confirmation" | translate }}</label>
            <input type="password" class="form-control" id="password-confirmation" [placeholder]="'profile.edit.password_confirmation' | translate"
                   formControlName="passwordConfirmation" (input)="passwordMatchValidator()"
                   [class.is-invalid]="submitted && (profileForm.controls['passwordConfirmation'].errors)">
            <div *ngIf="(profileForm.controls['passwordConfirmation'].invalid) && submitted" class="invalid-feedback">
              <div *ngIf="profileForm.controls['passwordConfirmation'].errors?.['required']">{{ "profile.edit.errors.confirm_password.required" | translate }}</div>
              <div *ngIf="profileForm.controls['passwordConfirmation'].errors?.['mismatch']">{{ "profile.edit.errors.confirm_password.mismatch" | translate }}</div>
            </div>
          </div>
        </div>

        <!--Cancel-->
        <div class="col-6">
          <button type="reset" class="form-control">{{ "profile.edit.cancel" | translate }}</button>
        </div>

        <!--Save-->
        <div class="col-6">
          <button type="submit" class="form-control">{{ "profile.edit.save" | translate }}</button>
        </div>

        <hr>

        <h3>{{ "profile.edit.danger_zone.title" | translate }}</h3>
        <!--TODO add confirmation to user delete-->
        <h6>{{ "profile.edit.danger_zone.delete_user.disclaimer" | translate }}</h6>
        <button type="button" class="btn btn-danger" (click)="deleteUser()">{{ "profile.edit.danger_zone.delete_user.btn" | translate }}</button>
      </div>
    </form>
  </div>
</main>
