main {
  height: calc(100% - 55px);
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

img {
  opacity: 0.7;
  max-height: 90vh;
  width: auto;
}

a {
  color: #AA2222;
}

form {
  margin-top: 55px;
}

.input-group-text {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

@media only screen and (max-width: 992px) {
  main {
    backdrop-filter: blur(3px);
  }

  form {
    margin-top: 55px;
    position: relative;
    z-index: 2;
    padding-right: 3rem;
    padding-left: 3rem;
    padding-bottom: 3rem;
    border-radius: 3rem;
  }

  .form-container {
    height: 100%;
    z-index: 1;
    backdrop-filter: blur(3px);
  }

  img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 0;
  }
}
