<main>
  <div class="container vh-100">
    <div class="row py-5 g-5 h-100 d-flex align-items-center">
      <div class="col-sm-12 col-lg-6 form-container">
        <!--Register form-->
        <form [formGroup]="registerForm" (submit)="onSubmit()" (reset)="onReset()" class="needs-validation" novalidate>
          <h4 class="mb-3">{{ "register.register" | translate }}</h4>

          <div class="row g-3">
            <!--First name-->
            <div class="col-sm-6">
              <label for="firstName" class="form-label">{{ "register.first_name" | translate }}</label>
              <input type="text" class="form-control" id="firstName" [placeholder]="'register.first_name' | translate"
                     formControlName="firstName" [class.is-invalid]="submitted && registerForm.controls['firstName'].errors">
              <div *ngIf="submitted && registerForm.controls['firstName'].invalid" class="invalid-feedback">
                <div *ngIf="registerForm.controls['firstName'].errors?.['invalid']">{{ "register.errors.first_name.invalid" | translate }}</div>
                <div *ngIf="registerForm.controls['firstName'].errors?.['pattern']">{{ "register.errors.first_name.invalid" | translate }}</div>
              </div>
            </div>

            <!--Last name-->
            <div class="col-sm-6">
              <label for="lastName" class="form-label">{{ "register.last_name" | translate }}</label>
              <input type="text" class="form-control" id="lastName" [placeholder]="'register.last_name' | translate"
                     formControlName="lastName" [class.is-invalid]="submitted && registerForm.controls['lastName'].errors">
              <div *ngIf="submitted && registerForm.controls['lastName'].invalid" class="invalid-feedback">
                <div *ngIf="registerForm.controls['lastName'].errors?.['invalid']">{{ "register.errors.last_name.invalid" | translate }}</div>
                <div *ngIf="registerForm.controls['lastName'].errors?.['pattern']">{{ "register.errors.last_name.invalid" | translate }}</div>
              </div>
            </div>

            <!--Username-->
            <div class="col-12 form-group">
              <label for="username" class="form-label">{{ "register.username" | translate }}*</label>
              <div class="input-group has-validation">
                <span class="input-group-text">&#64;</span>
                <input type="text" class="form-control" id="username" [placeholder]="'register.username' | translate"
                       formControlName="username" required [class.is-invalid]="submitted && registerForm.controls['username'].invalid">
                <div *ngIf="submitted && registerForm.controls['username'].invalid" class="invalid-feedback">
                  <div *ngIf="registerForm.controls['username'].errors?.['required']">{{ "register.errors.username.required" | translate }}</div>
                  <div *ngIf="registerForm.controls['username'].errors?.['duplicate']">{{ "register.errors.username.duplicate" | translate }}</div>
                  <div *ngIf="registerForm.controls['username'].errors?.['invalid']">{{ "register.errors.username.invalid" | translate }}</div>
                  <div *ngIf="registerForm.controls['username'].errors?.['pattern']">{{ "register.errors.username.invalid" | translate }}</div>
                </div>
              </div>
            </div>

            <!--Email-->
            <div class="col-12">
              <label for="email" class="form-label">{{ "register.email" | translate }}</label>
              <input type="email" class="form-control" id="email" [placeholder]="'register.email_placeholder' | translate" formControlName="email"
                     [class.is-invalid]="submitted && registerForm.controls['email'].errors">
              <div *ngIf="submitted && registerForm.controls['email'].invalid" class="invalid-feedback">
                <div *ngIf="registerForm.controls['email'].errors?.['email']">{{ "register.errors.email.invalid" | translate }}</div>
                <div *ngIf="registerForm.controls['email'].errors?.['duplicate']">{{ "register.errors.email.duplicate" | translate }}.</div>
                <div *ngIf="registerForm.controls['email'].errors?.['invalid']">{{ "register.errors.email.invalid" | translate }}</div>
                <div *ngIf="registerForm.controls['email'].errors?.['pattern']">{{ "register.errors.email.invalid" | translate }}</div>
              </div>
            </div>

            <!--Password-->
            <div class="col-12">
              <label for="password" class="form-label">{{ "register.password" | translate }}*</label>
              <input type="password" class="form-control" id="password" [placeholder]="'register.password' | translate"
                     formControlName="password" required (input)="passwordMatchValidator()"
                     [class.is-invalid]="submitted && registerForm.controls['password'].invalid">
              <div *ngIf="registerForm.controls['password'].invalid && submitted" class="invalid-feedback">
                <div *ngIf="registerForm.controls['password'].errors?.['required']">{{ "register.errors.password.required" | translate }}</div>
                <div *ngIf="registerForm.controls['password'].errors?.['pattern']" [innerHTML]="'register.errors.password.invalid' | translate"></div>
                <div *ngIf="registerForm.controls['password'].errors?.['invalid']">{{ "register.errors.password.invalid" | translate }}</div>
              </div>
            </div>

            <!--Confirm password-->
            <div class="col-12">
              <label for="password-confirmation" class="form-label">{{ "register.confirm_password" | translate }}*</label>
              <input type="password" class="form-control" id="password-confirmation" [placeholder]="'register.confirm_password' | translate"
                     formControlName="passwordConfirmation" required (input)="passwordMatchValidator()"
                     [class.is-invalid]="submitted && (registerForm.controls['passwordConfirmation'].errors)">
              <div *ngIf="(registerForm.controls['passwordConfirmation'].invalid) && submitted" class="invalid-feedback">
                <div *ngIf="registerForm.controls['passwordConfirmation'].errors?.['required']">{{ "register.errors.confirm_password.required" | translate }}</div>
                <div *ngIf="registerForm.controls['passwordConfirmation'].errors?.['mismatch']">{{ "register.errors.confirm_password.mismatch" | translate }}</div>
              </div>
            </div>

            <!--Terms and conditions-->
            <div class="col-12 form-check mx-3">
              <input type="checkbox" class="form-check-input" id="agree-terms" formControlName="agreedToTermsAndConditions"
                     required [class.is-invalid]="submitted && registerForm.controls['agreedToTermsAndConditions'].errors">
              <label for="agree-terms" class="px-2">{{ "register.agree_to" | translate }} <a href="#" (click)="showTermsAndConditions()">
                {{ "register.terms_and_conditions" | translate }}</a>*</label>
              <div *ngIf="registerForm.controls['agreedToTermsAndConditions'].invalid && submitted" class="invalid-feedback">
                <div *ngIf="registerForm.controls['agreedToTermsAndConditions'].errors?.['required']">{{ "register.errors.agree_to.required" | translate }}</div>
              </div>
            </div>

            <!--Reset-->
            <div class="col-6">
              <button type="reset" class="form-control">{{ "register.reset" | translate }}</button>
            </div>

            <!--Submit-->
            <div class="col-6">
              <button type="submit" class="form-control">{{ "register.register" | translate }}</button>
            </div>
          </div>

        </form>

        <p class="my-4">{{ "register.redirect_login.text" | translate }} <a [routerLink]="['/login']">{{ "register.redirect_login.link" | translate }}</a>.</p>
      </div>

      <div class="col-lg-6 col-sm-0 d-flex justify-content-center">
        <img [alt]="'register.illustration_alt' | translate"
             ngSrc="assets/img/register-illustration.png" priority
             height="1920" width="1064"
             class="img-fluid">
      </div>
    </div>
  </div>
</main>
