<main class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column justify-content-center text-center">
  <img ngSrc="assets/img/home-page-illustration.png" height="926" width="1280" [alt]="'home.illustration_alt' | translate">

  <div>
    <h1>Bootleg Tinder</h1>
    <p class="lead">{{ "home.marketing" | translate }}</p>
    <p class="lead">{{ "home.call_to_action" | translate }}</p>
    <p class="lead">
      <button class="w-auto btn btn-lg btn-light mx-2" [routerLink]="['/register']">{{ "home.register" | translate }}</button>
      <button class="w-auto btn btn-lg btn-light mx-2" [routerLink]="['/login']">{{ "home.login" | translate }}</button>
    </p>
  </div>
</main>
