<main class="form-login w-100 m-auto d-flex flex-column align-items-center">
  <img ngSrc="assets/img/login-illustration.png" priority
       height="1280" width="1009" [alt]="'login.illustration_alt' | translate">

  <form [formGroup]="loginForm" (submit)="onSubmit()">
    <h1 class="h3 mb-3 fw-normal">{{ "login.title" | translate }}</h1>

    <hr>
    <!--Username-->
    <div class="form-floating input-group input-username">
        <span class="input-group-text">&#64;</span>
        <input type="text" class="form-control" id="username" [placeholder]="'login.username' | translate"
               formControlName="username" required>
        <label for="username" class="floating-label">{{ "login.username" | translate }}</label>
    </div>

    <!--Password-->
    <div class="form-floating input-password">
      <input type="password" class="form-control" id="password" [placeholder]="'login.password' | translate"
             formControlName="password" required>
      <label for="password">{{ "login.password" | translate }}</label>
    </div>

    <div class="alert alert-danger" *ngIf="loginForm.invalid && submitted">
      <div *ngIf="loginForm.errors === null">{{ "login.errors.invalid_credentials" | translate }}</div>
      <div *ngIf="loginForm.errors?.['credentials']">{{ "login.errors.invalid_credentials" | translate }}</div>
      <div *ngIf="loginForm.errors?.['unknown']">Unknown error occurred. Try again later.</div>
    </div>

    <br>

    <button class="form-control w-100 py-2" type="submit">{{ "login.submit" | translate }}</button>
  </form>

  <p class="my-4">{{ "login.redirect_register.text" | translate }} <a [routerLink]="['/register']">{{ "login.redirect_register.link" | translate }}</a></p>
</main>

