body, main {
  height: 100%;
  justify-content: center;
}

a {
  color: #AA2222;
}

.form-login {
  padding: 1rem;
}

.form-login .form-floating:focus-within {
  z-index: 2;
}

.form-login input[type="text"] {
  margin-bottom: -1px;
  /* TODO figure out why username input field's top right corner isn't rounded */
  /*border-top-right-radius: 0.375rem;*/
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  z-index: 1;
}
.form-login span {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  z-index: 1;
}

.form-login input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  z-index: 1;
}

.floating-label {
  position: absolute;
  left: 2.3rem;
  z-index: 2;
}

img {
  position: absolute;
  opacity: 70%;
  z-index: -1;
}

@media only screen and (orientation: portrait) and (max-width: 992px) {
  img {
    height: 30%;
    width: auto;
    top: 15%;
  }

  .form-login {
    padding-top: 40%;
  }
}


@media (orientation: landscape) {
  img {
    height: 80%;
    width: auto;
    padding-left: 40%;
  }
}
