<nav class="navbar navbar-expand-lg bg-body-secondary fixed-top">
  <div class="container-fluid">
    <!--Branding-->
    <a class="navbar-brand" [routerLink]="['/']" *ngIf="isLoggedOut()">{{ title }}</a>
    <a class="navbar-brand" [routerLink]="['/dashboard']" *ngIf="isLoggedIn()">{{ title }}</a>

    <!--Collapse navbar toggle-->
    <button class="navbar-toggler navbar-toggler-right" type="button" (click)="toggleNavbar()"
            [attr.aria-expanded]="!isCollapsed" aria-controls="navbarContent" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent" [class.show]="!isCollapsed">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!--Home-->
        <li class="nav-item" *ngIf="isLoggedOut()">
          <a class="nav-link" aria-current="page" [routerLink]="['/']" [routerLinkActive]="['active']"
             [routerLinkActiveOptions]="{ exact: true }">{{ "navbar.home" | translate }}</a>
        </li>

        <!--Dashboard-->
        <li class="nav-item" *ngIf="isLoggedIn()">
          <a class="nav-link" aria-current="page" [routerLink]="['/dashboard']" [routerLinkActive]="['active']"
             [routerLinkActiveOptions]="{ exact: true }">{{ "navbar.dashboard" | translate }}</a>
        </li>

        <!--Matchmaker-->
        <li class="nav-item" *ngIf="isLoggedIn()">
          <a class="nav-link" aria-current="page" [routerLink]="['/matchmaker']" [routerLinkActive]="['active']"
             [routerLinkActiveOptions]="{ exact: true }">{{ "navbar.matchmaker" | translate }}</a>
        </li>

        <!--Chats-->
        <li class="nav-item" *ngIf="isLoggedIn()">
          <a class="nav-link" aria-current="page" [routerLink]="['/chats']" [routerLinkActive]="['active']"
             [routerLinkActiveOptions]="{ exact: true }">{{ "navbar.chats" | translate }}</a>
        </li>

        <!--Profile-->
        <li class="nav-item" *ngIf="isLoggedIn()">
          <a class="nav-link" aria-current="page" [routerLink]="['/profile']" [routerLinkActive]="['active']"
             [routerLinkActiveOptions]="{ exact: true }">{{ "navbar.profile" | translate }}</a>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <!--Language select-->
        <li class="nav-item" ngbDropdown display="static" placement="bottom-end">
          <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown3" role="button">{{ "navbar.change_language" | translate }}</a>
          <div ngbDropdownMenu aria-labelledby="navbarDropdown3" class="dropdown-menu">
            <a ngbDropdownItem href="#" (click)="changeLanguage($event, 'en')">EN</a>
            <a ngbDropdownItem href="#" (click)="changeLanguage($event, 'fi')">FI</a>
          </div>
        </li>

        <!--Register-->
        <li class="nav-item" *ngIf="isLoggedOut()">
          <a class="nav-link" href="/register" [routerLink]="['/register']" [routerLinkActive]="['active']"
             [routerLinkActiveOptions]="{ exact: true }">{{ "navbar.register" | translate }}</a>
        </li>

        <!--Log In-->
        <li class="nav-item" *ngIf="isLoggedOut()">
          <a class="nav-link" href="/login" [routerLink]="['/login']" [routerLinkActive]="['active']"
             [routerLinkActiveOptions]="{ exact: true }">{{ "navbar.log_in" | translate }}</a>
        </li>

        <!--Log Out-->
        <li class="nav-item" *ngIf="isLoggedIn()">
          <a class="nav-link" href="/login" (click)="onLogOut()">{{ "navbar.log_out" | translate }}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
