main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 2rem;
}

img {
  object-fit: contain;
  height: auto;
}

.card {
  height: fit-content;
  align-self: center;
}

@media only screen and (max-width: 992px) {
  main {
    margin-top: 30rem;
    margin-bottom: 30rem;
  }
}

@media only screen and (min-width: 993px) {
  main {
    flex-direction: row;
  }
}
