<main class="container">

  <div class="card">
    <img class="card-img-top" ngSrc="assets/img/dashboard-matchmaker-illustration.png" height="1280" width="1242" priority
         [alt]="'dashboard.matchmaker.img_alt' | translate">
    <div class="card-body">
      <h5 class="card-title">{{ "dashboard.matchmaker.title" | translate }}</h5>
      <p class="card-text">{{ "dashboard.matchmaker.text" | translate }}</p>
      <a [routerLink]="['/matchmaker']" class="btn btn-primary">{{ "dashboard.matchmaker.btn_text" | translate }}</a>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" ngSrc="assets/img/dashboard-chat-illustration.png" height="894" width="1280" priority
         [alt]="'dashboard.chats.img_alt' | translate">
    <div class="card-body">
      <h5 class="card-title">{{ "dashboard.chats.title" | translate }}</h5>
      <p class="card-text">{{ "dashboard.chats.text" | translate }}</p>
      <a [routerLink]="['/chats']" class="btn btn-primary">{{ "dashboard.chats.btn_text" | translate }}</a>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" ngSrc="assets/img/dashboard-profile-illustration.png" height="1280" width="1168" priority
         [alt]="'dashboard.profile.img_alt' | translate">
    <div class="card-body">
      <h5 class="card-title">{{ "dashboard.profile.title" | translate }}</h5>
      <p class="card-text">{{ "dashboard.profile.text" | translate }}</p>
      <a [routerLink]="['/profile']" class="btn btn-primary">{{ "dashboard.profile.btn_text" | translate }}</a>
    </div>
  </div>
</main>
