<main class="container d-flex flex-column">
  <!--Chat listing/menu-->
  <div id="chat-menu" *ngIf="currentView === 'menu'" class="py-5">
    <h3>{{ "chat.menu.title" | translate }}</h3>

    <div *ngIf="chats.length === 0 || chats === undefined">
      <h5>No chats yet</h5>
      <p>You haven't matched with anyone yet, go do that and come back to find all your not-so-secret admirers!</p>
    </div>

    <div *ngIf="chats.length > 0 && chats !== undefined" class="d-flex flex-column gap-4">
      <ul class="list-group">
        <button class="list-group-item list-group-item-action d-flex justify-content-between align-items-start py-3"
                type="button" *ngFor="let chat of chats.slice((chatListPage-1)*5, (chatListPage)*5)" (click)="toggleView('chat', chat)">
          <div class="ms-2 me-auto">
            <h5>&#64;{{ chat.chatPartner }}</h5>
            <p class="chat-overview-content overflow-y-hidden">{{ chat.latestMessageContent }}</p>
            <span class="text-body-secondary">{{ chat.latestMessageSentAt?.toLocaleString() }}</span>
          </div>
          <span class="badge text-bg-primary rounded-pill align-self-center" *ngIf="chat.latestMessageSentAt === null">{{ "chat.menu.start_chat" | translate }}</span>
          <span class="badge text-bg-primary rounded-pill align-self-center" *ngIf="chat.unreadMessagesCount !== 0">{{ chat.unreadMessagesCount }}</span>
        </button>
      </ul>

      <div class="btn-group mr-2 align-self-center" role="group" *ngIf="this.chatListPageNumbers.length>1">
        <button type="button" class="btn btn-primary" (click)="switchListPage('first')"
                *ngIf="!isFirstPage()">
          <i class="bi bi-chevron-double-left"></i>
        </button>
        <button type="button" class="btn btn-primary" (click)="switchListPage('previous')"
                *ngIf="!isFirstPage()">
          <i class="bi bi-chevron-left"></i>
        </button>
        <button type="button" class="btn btn-light" [class.active]="i+1 === chatListPage"
                *ngFor="let i of chatListPageNumbers;" (click)="switchListPage(i+1)">
          {{ i + 1 }}
        </button>
        <button type="button" class="btn btn-primary" (click)="switchListPage('next')"
                *ngIf="!isLastPage()">
          <i class="bi bi-chevron-right"></i>
        </button>
        <button type="button" class="btn btn-primary" (click)="switchListPage('last')"
                *ngIf="!isLastPage()">
          <i class="bi bi-chevron-double-right"></i>
        </button>
      </div>
    </div>
  </div>

  <!--Chat-->
  <div id="chat" class="h-100 d-flex flex-column" *ngIf="currentView === 'chat' && currentChatPartner !== undefined">
    <button type="button" class="form-control px-4" (click)="toggleView('menu')">
      <i class="bi bi-arrow-left"></i> {{ "chat.chat.back_to_menu" | translate }}
    </button>

    <br>
    <h3 class="text-center" (click)="toggleView('profile')">&#64;{{ currentChatPartner?.username }}</h3>
    <br>
    <div id="message-container" class="overflow-y-scroll overflow-x-hidden flex-fill">
      <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between align-items-start py-3" *ngFor="let message of currentChatMessages">
          <div class="ms-2 me-auto">
            <div class="fw-bold">&#64;{{ message.sender }}</div>
            <p>{{ message.content }}</p>
          </div>
          <span class="text-body-secondary">{{ message.sentAt.toLocaleString() }}</span>
        </li>
      </ul>
    </div>
    <div class="d-flex flex-row gap-2">
      <textarea class="form-control" [placeholder]="'chat.chat.new_message' | translate" [formControl]="newMessage" (keydown.enter)="sendMessage()"></textarea>
      <button type="button" class="form-control w-auto" (click)="sendMessage()"><i class="bi bi-send-arrow-down-fill"></i></button>
    </div>
  </div>

  <!--Chat partner profile-->
  <div id="chat-partner-profile" class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column justify-content-center text-center overflow-y-scroll"
       *ngIf="currentView === 'profile'">
    <h1>{{ currentChatPartner?.firstName }} {{ currentChatPartner?.lastName }}</h1>
    <h3>&#64;{{ currentChatPartner?.username }}</h3>
    <p class="lead">{{ currentChatPartner?.bio }}</p>
    <p class="lead">
      <button class="btn btn-lg btn-outline-secondary fw-bold mx-2" (click)="toggleView('chat')">
        <i class="bi bi-arrow-left"></i> {{ "chat.profile.back_to_chat" | translate }}
      </button>
      <button class="btn btn-lg btn-danger fw-bold mx-2" (click)="blockMatch()">
        <i class="bi bi-ban"></i> {{ "chat.profile.block" | translate }}
      </button>
    </p>
  </div>
</main>
