main {
  height: 100%;
  margin-top: 55px;
}

#chat h3 {
    margin-top: 2rem;
    cursor: pointer;
  }

#message-container {
  display: flex;
  flex-direction: column-reverse;
}

.chat-overview-content {
  max-height: 3rem;
}
