<main class="container">
  <div class="card w-75 h-75" *ngIf="currentProfile !== undefined && !noProfilesToShow && !matchFound">

    <!--Username-->
    <div class="card-header">
      &#64;{{ currentProfile.username }}
    </div>

    <div class="card-body">
      <!--Name-->
      <h3 class="card-title">
        {{ currentProfile.firstName }} {{ currentProfile.lastName }}
      </h3>

      <!--Bio-->
      <p class="card-text overflow-x-hidden overflow-y-scroll">
        {{ currentProfile.bio }}
      </p>
    </div>

    <div class="card-footer">
      <button class="btn" (click)="onReject()">
        <i class="bi bi-ban"></i>
      </button>
      <button class="btn" (click)="onLike()">
        <i class="bi bi-arrow-through-heart-fill" style="color: hotpink;"></i>
      </button>
    </div>
  </div>

  <div class="notice text-center" *ngIf="matchFound">
    <h3>{{ "matchmaker.match.title" | translate }}</h3>
    <p>{{ "matchmaker.match.text" | translate }}</p>
    <div class="d-flex">
      <button class="form-control py-2 mx-1" (click)="goBack()">
        {{ "matchmaker.match.go_back" | translate }}</button>
      <button class="form-control py-2 mx-1" (click)="startChat()">
        {{ "matchmaker.match.start_chat" | translate }}</button>
    </div>
  </div>

  <div *ngIf="noProfilesToShow && !matchFound" class="notice">
    <h3>{{ "matchmaker.no-profiles-to-show.title" | translate }}</h3>
    <p>{{ "matchmaker.no-profiles-to-show.text" | translate }}</p>
  </div>
</main>
