body, main {
  height: 100%;
  display: flex;
  justify-content: center;
  padding-top: 55px;
}

.card {
  align-self: center;
}

.card-text {
  overflow: scroll;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  font-size: 5rem;
} i { font-size: 5rem; }

.notice {
  align-self: center;
}
